
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.wrapper {
  max-height: 90vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  margin: 4vh auto 0;
  /* background-color: rgb(43, 0, 68); */
  background-image: linear-gradient(rgb(43, 0, 68), rgba(43, 0, 68, 0.822)), url('https://files.slack.com/files-pri/TCJ0ZHEGL-FGV9GPGKA/shutterstock_86313085.jpg');
  background-size: cover;
  border-radius: 1.5rem;
  padding: 1rem 0 0;
  overflow: hidden;
}